<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Сотрудники</h1>
    <nav>
        <a th:href="@{/}">В главное меню</a>
    </nav>
    <div class="employee-cards">
        <div th:each="employee : ${employees}" class="employee-card">
            <img th:src="@{/images/{photo}(photo=${employee.photo})}" alt="Фото сотрудника">
            <h2 th:text="${employee.name}"></h2>
            <p th:text="${employee.status}"></p>
        </div>
    </div>
</div>
</body>
</html>