<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Видеопоток</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Видеопоток</h1>
    <nav>
        <a th:href="@{/}">В главное меню</a>
    </nav>
    <iframe
            id="video-stream"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/uuRWYlhjVms"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>
</body>
</html>
